html, body {
	font-family: NanumBarunGothic,'나눔바른고딕',NanumGothic,'돋움',Dotum,Helvetica,'Aspple SD Gothic Neo',Sans-serif!important;
}

/* 스토어 이미지 css */
.storeItem{
	display: inline-block; 
	margin: 15px; 
	background-color: #ffffff; 
	box-shadow: 0px 0px 1px 0px #ccc;
}

.storeItem #storeImg {
	overflow: hidden;
}

.storeItem #storeImg img {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	width: 340px;
	height: 200px;
}

.storeItem img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.storeItem #storeContent {
	margin-left: 20px; 
	height: 90px;
}

.storeItem #storeContent h4{
	font-size: 21px;
	margin: 15px 0 3px 0;
}

.storeItem #storeContent p{
	font-size: 13px; 
	color: #9b9b9b; 
	margin: 0 0 9px 0;
}
/* end 스토어 이미지 css */

/* 상단 메뉴바 bootstrap적용 없애기 css */
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:none !important;
}
/* End 상단 메뉴바 bootstrap적용 없애기 css */

/* 사이드바 메뉴 선택시 배경을 어둡게 하기 위한 css */
#mask {  
  position:absolute;  
  left:0;
  top:0;
  z-index:999;  
  background-color:#000;  
  display:none;  
}
/* End 사이드바 메뉴 선택시 배경을 어둡게 하기 위한 css */
