html, body {
	font-family: NanumBarunGothic,'나눔바른고딕',NanumGothic,'돋움',Dotum,Helvetica,'Aspple SD Gothic Neo',Sans-serif!important;
}

/* 스토어 이미지 css */
.storeItem{
	display: inline-block; 
	margin: 15px; 
	background-color: #ffffff; 
	box-shadow: 0px 0px 1px 0px #ccc;
}

.storeItem #storeImg {
	overflow: hidden;
}

.storeItem #storeImg img {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	width: 340px;
	height: 200px;
}

.storeItem img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.storeItem #storeContent {
	margin-left: 20px; 
	height: 90px;
}

.storeItem #storeContent h4{
	font-size: 21px;
	margin: 15px 0 3px 0;
}

.storeItem #storeContent p{
	font-size: 13px; 
	color: #9b9b9b; 
	margin: 0 0 9px 0;
}
/* end 스토어 이미지 css */

/* 모바일 store css */
.mb_storeItem{
	display: inline-block; 
	width:47%; height:auto;
	margin: 8px 1px 8px 10px; 
	background-color: #ffffff; 
	box-shadow: 0px 0px 1px 0px #ccc;
}
.mb_storeItem #mb_storeImg {
	overflow: hidden;
}

.mb_storeItem #mb_storeImg img {
	width: 100%;
	height: 218px;
}

.mb_storeItem #mb_storeContent {
	margin-left: 5px; 
	height: 53px;
}

.mb_storeItem #mb_storeContent #mb_storeName{
	font-size: 15px;
	color:#555;
}

.mb_storeItem #mb_storeContent p{
	font-size: 12px; 
	color: #9b9b9b; 
	margin: 0 0 9px 0;
}
/* end 모바일 store css */

/* 상단 메뉴바 bootstrap적용 없애기 css */
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:none !important;
}
.navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
 }
/* End 상단 메뉴바 bootstrap적용 없애기 css */

/* 사이드바 메뉴  css */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #F6F6F6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav #profile{
	width: 100%;
	height: 200px;
	top : 0;
	position: absolute;
	z-index: 1;
  	background-color: #7ac143;
}

.sidenav a :not(1) {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color:#fff;
    color: #000;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    z-index:2;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: 0;
    padding:0;
    background-color: none;
}
/* End 사이드바 메뉴  css */

li .css-arrow{
 position: absolute;
 right:0;
 top:1.7em;
 margin-right:4%;
}
li .css-arrow::after{
 content:"";
 display: block;
 width:10px;
 height:10px;
 border-top:2px solid #333;
 border-right:2px solid #333;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 position: absolute;
 right:10px;
 top:50%;
 margin-top:-7px;
}
/* 사이드바 메뉴 선택시 배경을 어둡게 하기 위한 css */
#mask {  
  position:absolute;  
  left:0;
  top:0;
  z-index:999;  
  background-color:#000;  
  display:none;  
}
/* End 사이드바 메뉴 선택시 배경을 어둡게 하기 위한 css */

/* 모바일 play css */
.mb_playItem{
	display: inline-block; 
	width:47%; height:auto;
	margin: 8px 1px 8px 10px; 
	background-color: #ffffff; 
}
.mb_playItem #mb_playImg {
	overflow: hidden;
}

.mb_playItem #mb_playImg img {
	width: 100%;
	height: 218px;
}

.mb_playItem #mb_playContent {
	margin-left: 5px; 
	height: 67px;
}

.mb_playItem #mb_playContent #mb_playName{
	font-size: 15px;
	color:#555;
}

.mb_playItem #mb_playContent p{
	font-size: 12px; 
	color: #9b9b9b; 
	margin: 0 0 9px 0;
}
/* end 모바일 play css */
