html, body {
	background-color: #f6f6f6;
}
#searchResultMap{
	height:300px;
	margin-bottom:1px;
}
#searchResultMap #map{
	height:300px;
}
#resultText{
	width:100%; 
	height:160px; 
	background-color:#ffffff; 
	box-shadow: 0px 0px 1px 0px #ccc;
}
#storeContent #minPrice{
	color: #16a085;
}
#storeContent span:nth-child(2){
	font-size: 13px;
}
#storeContent span:nth-child(3){
	font-size: 13px; 
}

#likeShowDiv{
	float: right; 
	margin-right: 15px; 
	bottom: 0; 
	font-size: 15px;
}
#likeShowDiv span:nth-child(odd){
	margin: 0;
}
#likeShowDiv span:nth-child(even){
	color: #16a085; 
	margin-left: 4px;
}