html, body {
	background-color: #f6f6f6;
}

#location, #category, #searchStore :hover{
	cursor: pointer;
}

/* 지역,카테고리 선택 css */
#locationDiv, #locationDiv div, #categoryDiv, #categoryDiv div {
	clear: both;
	display: inline-block;
	height: 30px;
	margin-bottom: 10px;
}

#locationDiv label, #categoryDiv label {
	width: 200px;
	border-radius: 3px;
	border: 1px solid #D1D3D4
}

#locationDiv #locationBtn,#categoryDiv #categoryBtn{
	background-color: #f47721;
}
/* hide input */
#locationDiv input.radio:empty, #categoryDiv input.cateradio:empty {
	margin-left: -999px;
}

/* style label */
#locationDiv input.radio:empty ~ label, #categoryDiv input.cateradio:empty 
	~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#locationDiv input.radio:empty ~ label:before, #categoryDiv input.cateradio:empty 
	~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
/* End 지역,카테고리 선택 css*/

/* 지역, 카테고리 dialog css */
#locationDiv input.radio:hover:not (:checked ) ~ label:before,
	#categoryDiv input.cateradio:hover:not (:checked ) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

#locationDiv input.radio:hover:not (:checked ) ~ label, #categoryDiv input.cateradio:hover:not
	(:checked ) ~ label {
	color: #888;
}

/* toggle on */
#locationDiv input.radio:checked ~ label:before, #categoryDiv input.cateradio:checked 
	~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

#locationDiv input.radio:checked ~ label, #categoryDiv input.cateradio:checked 
	~ label {
	color: #777;
}
/* End 지역,카테고리 dialog css */

#header nav{
	background: transparent none;
}
#header nav span{
	font-size: 30px; 
	cursor: pointer; 
	color: #ffffff; 
	float: right; 
	margin-right: 5%;
}

/* 헤더(메뉴바) css */
#header2 nav{
	background-color: #7ac143; 
	z-index: 990;
}

#header2 nav span{
	font-size: 30px; 
	cursor: pointer; 
	color: #ffffff; 
	float: right; 
	margin-right: 5%;
}
#header2 input{
	width:500px;
}
/* End 헤더(메뉴바) css */

/* 메인 이미지, 조건 검색에 대한 css */
#mainImage div {
	z-index: 20; 
	position: absolute; 
	margin: 10%;
}

#mainImage #searchKeyward{
	position:relative;
	font-size: 35px;
	width:600px;
	margin:0;
}
#mainImage #searchKeyward span{
	color:#ffffff;
}
#mainImage #searchKeyward a{
	text-decoration: underline;
}

#mainImage #searchStore {
	position:relative;
	color: #FFD014; 
	width: 200px;
	margin:0;
}

#mainImage #searchStore span{
	margin-left: 1%;
}
#mainImage img{
	width: 100%; 
	height: 500px; 
	background-image: url(https://scloud.pstatic.net/20160405_149/1459823688590GWVfp_JPEG/01_main_top_1920x630_02.jpg);
}
/* End 메인 이미지, 조건 검색에 대한 css */
