<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.ImageMapper">
<!-- 
    <select id="selectById" resultType="com.store.greenStore.mapper.Image">
        SELECT *
        FROM   image
        WHERE  id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO image (mid, fileName, fileSize, fileTime, data)
        VALUES (#{mid}, #{fileName}, #{fileSize}, now(), #{data})
    </insert>
 -->
</mapper>