<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.LikeMapper">

	<select id="searchLikeByMkey" resultType="com.store.greenStore.dto.LikeDto">
		select *
		from store_like sl join review_like rl on sl.mkey = rl.mkey
		where sl.mkey = #{mkey};
	</select>
	
	<insert id="storeLike">
		insert store_like(MKEY,SH_ID)
		values (#{mkey},#{sh_id}) 
	</insert>
	
	<insert id="storeLikeUp">
		UPDATE store SET sh_like=sh_like+1 where sh_id=#{sh_id}
	</insert>
</mapper>
