<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.MypageMapper">

	<!-- 내가 좋아요를 누른 스토어 -->
	<select id="storeLike" resultType="com.store.greenStore.dto.StoreLike">
		select * from store_like sl 
		join store s on sl.sh_id = s.sh_id 
		join member m on sl.mkey = m.mkey
		where m.mid = #{ mid }
	</select>
	
	<!-- 내가 좋아요를 누른 리뷰 -->
	<select id="reviewLike" resultType="com.store.greenStore.dto.ReviewLike">
		select *  from review r 
		join review_like rl on r.rkey = rl.rkey
		join member m on rl.mkey = m.mkey
		join store s on r.sh_id = s.sh_id
		where m.mid = #{mid}
	</select>
	
</mapper>