<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.RvLikeMapper">

	<select id="select" resultType="com.store.greenStore.dto.ReviewLike">
		SELECT * FROM review_like WHERE
		rkey=#{rkey} and mkey=#{mkey}
	</select>

	<select id="selectRkeyByMkey" resultType="com.store.greenStore.dto.ReviewLike">
		SELECT * FROM
		review_like WHERE mkey=#{mkey}
	</select>
</mapper>