<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.StoreDbMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="sm_id">
		INSERT store_menu(SH_ID,MENU,PRICE)
		VALUES (#{sh_id}, #{menu}, #{price})
	</insert>

	<select id="detail" resultType="com.store.greenStore.dto.Store">
		SELECT * FROM STORE WHERE SH_ID = #{sh_id}
	</select>

	<select id="appDetail" resultType="com.store.greenStore.dto.Store">
		select *
		from store join store_menu on store.sh_id = store_menu.sh_id
		where store.sh_id = #{sh_id};
	</select>
</mapper>
