<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.greenStore.mapper.StoreMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="sh_id">
        INSERT store(SH_ID,SH_NAME,SH_ADDR,INDUTY_CODE_SE,SH_PHONE,SH_WAY,SH_INFO,SH_PRIDE,SH_RCMN,SH_PHOTO,SH_LIKE,BASE_YM,induty_code_se_name)
        VALUES (#{sh_id}, #{sh_name}, #{sh_addr}, #{induty_code_se},#{sh_phone},#{sh_way},#{sh_info},#{sh_pride},#{sh_rcmn},#{sh_photo},#{sh_like},NOW(),#{induty_code_se_name})
    </insert>
	
	<select id="webSelectAll" resultType="com.store.greenStore.dto.Store">
		SELECT s.SH_ID, SH_NAME, SH_ADDR, MENU, induty_code_se_name, SH_RCMN, SH_LIKE, SH_PHOTO, MIN(PRICE) AS PRICE
		FROM store s join store_menu m
        on s.SH_ID = m.SH_ID
        group by s.SH_ID
        ORDER BY sh_rcmn
        DESC LIMIT 6;
	
	</select>
	
	<select id="likeSelectAll" resultType="com.store.greenStore.dto.Store">
		SELECT s.SH_ID, SH_NAME, SH_ADDR, MENU, induty_code_se_name, SH_RCMN, SH_LIKE, SH_PHOTO, MIN(PRICE) AS PRICE
		FROM store s join store_menu m
        on s.SH_ID = m.SH_ID
        group by s.SH_ID
        ORDER BY SH_LIKE
        DESC LIMIT 6;
	</select>
	
	<select id="selectAll" resultType="com.store.greenStore.dto.Store">
		SELECT *
		FROM store
		ORDER BY sh_rcmn DESC LIMIT 6
	</select>
	
	<!-- <select id="appSelectAll" resultType="com.store.greenStore.dto.Store">
		SELECT *
		FROM store
		ORDER BY sh_rcmn DESC
	</select> -->
	
	<!-- 이름,주소,찾아오는길,자랑거리,메뉴에서 찾는 단어가 존재하는 행들을 뿌려준다. mysql에서 제공하는 full text search를 이용하기 위해서는 match, against 구문이 필요하다
		 concat을 사용한 이유는 *#{searchText}* 와 같이 * 특수문자를 붙이기 위해서 사용했고,
		  업소 이름을 기준으로 그룹을 만들었다.  -->
	<select id="search" resultType="com.store.greenStore.dto.Store">
			select  s.SH_ID, SH_NAME, SH_ADDR, MENU, induty_code_se_name, SH_RCMN, SH_LIKE, SH_PHOTO, MIN(PRICE) AS PRICE 
			from store s join store_menu m on s.sh_id = m.sh_id  
			where match(s.sh_name,s.sh_addr,s.sh_way,s.sh_pride,m.menu) against(concat('*',#{searchText},'*') IN BOOLEAN MODE)
			group by sh_id
			order by sh_rcmn desc;
	</select>
	
	<select id="cateSearch" resultType="com.store.greenStore.dto.Store">
		select  s.SH_ID, SH_NAME, SH_ADDR, MENU, induty_code_se_name, SH_RCMN, SH_LIKE, SH_PHOTO, MIN(PRICE) AS PRICE 
		from store s join store_menu m on s.sh_id = m.sh_id  
		<where>
			sh_addr like concat('%',#{area},'%') and
			<if test="cate == 1">
				induty_code_se in (1,2,3,4,5)
			</if>
			<if test="cate != 1">
				induty_code_se = #{cate}
			</if>
		</where>
		group by sh_id
		order by sh_rcmn desc;
	</select>
	
	<select id="appCateSearch" resultType="com.store.greenStore.dto.Store">
		select  s.SH_ID, SH_NAME, SH_ADDR, MENU, induty_code_se_name, SH_RCMN, SH_LIKE, SH_PHOTO, MIN(PRICE) AS PRICE 
		from store s join store_menu m on s.sh_id = m.sh_id  
		<where>
			<if test="!area.equals('전체')">
				sh_addr like concat('%',#{area},'%') and
			</if>
			<if test="area.equals('전체')">
				sh_addr like '%%' and
			</if>
			<if test="!cate.equals('전체')">
				induty_code_se_name like concat('%',#{cate},'%')
			</if>
			<if test="cate.equals('전체')">
				induty_code_se_name like '%%'
			</if>
		</where>
		group by sh_id
		order by sh_rcmn desc;
	</select>
	
</mapper>
